//main styles
.main-wrapper
	padding 0
	min-width $min-width
	width 100%
	position relative
	overflow hidden
	min-height 100%

.wrapper
	min-width $min-width
	max-width $max-width
	padding 0 40px 0 40px
	margin 0 auto
	position relative